@model WebMvc.Models.OrderModels.Order

@{
    ViewBag.Title = "Order Complete";
}
<h2>Order Complete</h2>
<h3 style="color:green">Hello @Model.FirstName @Model.LastName, </h3>
<p style="color:blue; font-size:20px;"> Thank you for your order! Your order has been processed successfully. Your order number is: @Model.OrderId</p>
<p style="color:blue; font-size:20px;">You will receive an email confirmation of your tickets to @Model.UserName</p>

<p>Here is your order information:</p>

<section class="esh-orders_new-section">
    <article class="esh-orders_new-titles row">
        <section class="esh-orders_new-title col-xs-12">ORDER DETAILS</section>
    </article>
    <section class="esh-basket-title col-xs-4 hidden-lg-down"></section>
    <section class="esh-basket-title col-xs-4">Event Name</section>
    <section class="esh-basket-title col-xs-1">Price</section>
    <section class="esh-basket-title col-xs-1">Qty</section>
    <section class="esh-basket-title col-xs-2">Cost</section>
    @for (int i = 0; i < Model.OrderItems.Count; i++)
    {
        var item = Model.OrderItems[i];

        <article class="esh-orders_new-items esh-orders_new-items--border row">
            <section class="esh-orders_new-item col-md-4 hidden-md-down">
                <img class="esh-basket-image" src="@item.PictureUrl">
                <input type="hidden" value="@item.PictureUrl" name=@("orderitems[" + i + "].PictureUrl") />
            </section>
            <section class="esh-orders_new-item esh-orders_new-item--middle col-xs-4">
                @item.ProductName
                <input type="hidden" value="@item.ProductName" name=@("orderitems[" + i + "].ProductName") />
            </section>
            <section class="esh-orders_new-item esh-orders_new-item--middle col-xs-1">
                $ @item.UnitPrice
                <input type="hidden" value="@item.UnitPrice" name=@("orderitems[" + i + "].UnitPrice") />
            </section>
            <section class="esh-orders_new-item esh-orders_new-item--middle col-xs-1">
                @item.Units
                <input type="hidden" value="@item.Units" name=@("orderitems[" + i + "].Units") />
            </section>
            <section class="esh-orders_new-item esh-orders_new-item--middle col-xs-2">$ @Math.Round(item.Units * item.UnitPrice, 2)</section>
            <input type="hidden" value="@item.ProductId" name=@("orderitems[" + i + "].ProductId") />
        </article>
    }
</section>
<p>
    Do you want to search for more interesting events at 
    <a asp-controller="EventCatalog" asp-action="Index">EventAdvisor</a>?
</p>
