@model WebMvc.Models.EventItem

<form asp-controller="Cart" asp-action="AddToCart">
    <img class="esh-catalog-thumbnail" src="@Model.PictureUrl" />
    <input class="esh-catalog-button" type="submit" value="[ ADD TO CART ]" />
    <div class="esh-catalog-name">
        <span>@Model.Name</span>
    </div>    
    <div class="esh-catalog-location">
        <span>@Model.EventAddress : @Model.EventLocation.LocationName </span>
    </div>
    <div class="esh-catalog-date-time">
        <span>@Model.Date.ToString("ddd, MMM dd"), @Model.StartTime.ToString("h:mm tt") to @Model.EndTime.ToString("h:mm tt")</span>
    </div>
    <div class="esh-catalog-price">
        <span>@Model.Price.ToString("N2")</span>
    </div>
    <div class="esh-catalog-organizer">
        <span>Organizer: @Model.EventOrganizer.OrganizerName </span>
    </div>    
    
    <input type="hidden" asp-for="@Model.EventOrganizerId" name="organizerId" />
    <input type="hidden" asp-for="@Model.EventCategory" name="category" />
    <input type="hidden" asp-for="@Model.EventCategoryId" name="categoryId" />
    <input type="hidden" asp-for="@Model.Description" name="description" />
    <input type="hidden" asp-for="@Model.Id" name="id" />
    <input type="hidden" asp-for="@Model.Name" name="name" />
    <input type="hidden" asp-for="@Model.PictureUrl" name="pictureUrl" />
    <input type="hidden" asp-for="@Model.Price" name="price" />
</form>